/* @formatter:off*/
@font-face {
    font-family: 'icomoon';
    src: url(data:font/ttf;base64,AAEAAAALAIAAAwAwT1MvMg8SBjgAAAC8AAAAYGNtYXCkyqVhAAABHAAAAIxnYXNwAAAAEAAAAagAAAAIZ2x5ZjXZReMAAAGwAAAKeGhlYWQmWUY1AAAMKAAAADZoaGVhB8ID2wAADGAAAAAkaG10eF4AAAAAAAyEAAAAaGxvY2Ei/CACAAAM7AAAADZtYXhwAC8AYgAADSQAAAAgbmFtZZlKCfsAAA1EAAABhnBvc3QAAwAAAAAOzAAAACAAAwPqAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpJAPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAcAAAABgAEAADAAgAAQAg6QTpCOkO6RDpE+kY6RzpJP/9//8AAAAAACDpAOkI6Q3pEOkT6RbpG+ke//3//wAB/+MXBBcBFv0W/Bb6FvgW9hb1AAMAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAP/AAAADwAACAAA3OQEAAAAAAQAA/8AAAAPAAAIAADc5AQAAAAABAAD/wAAAA8AAAgAANzkBAAAAAAEAAP/AA6oDwAAQAAABNxEhNyYjIgcGByc2NzYzMgMSmP6AnGB8Zl9fIGQsdXWSqgHnmv6AmlBERGIgiFZWAAAFAAD/wAOqA8AABwATABcAGwAfAAABFSE1MzczFwERIREUBwYjISInJgEhFSERIRUhETMVIwJW/gCAKqos/qoBqhkZIv8AIhoaAgABAP8AASr+1qqqAtVUVCws/dYBqv5WIhoaGhoBIlYBAFT/AFYAAgAA/8ADgAPAAAsAEAAAAQcnNzYzMh8BFhUUCQEXASMDdE6gTgwSEgxkDP0AAdig/iigAn9OoE4MDGQMEhL+QAHYoP4oAAAABgAA/8AC1gPAAA8AHwAvAD8ATwBfAAABMhcWFRQHBiMiJyY1NDc2EzIXFhUUBwYjIicmNTQ3NjciJyY1NDc2MzIXFhUUBwYlMhcWFRQHBiMiJyY1NDc2EzIXFhUUBwYjIicmNTQ3NhMUBwYjIicmNTQ3NjMyFxYCgCIaGhoaIiIaGhoaIiIaGhoaIiIaGhoaIiIaGhoaIiIaGhoa/t4iGhoaGiIiGhoaGiIiGhoaGiIiGhoaGngaGiIiGhoaGiIiGhoBARoaIiIaGhoaIiIaGgEAGhoiIhoaGhoiIhoaVBoaIiIaGhoaIiIaGqwaGiIiGhoaGiIiGhr/ABoaIiIaGhoaIiIaGv6qIhoaGhoiIhoaGhoAFAAA/8ADgAPAAAMABwALAA8AEwAXABsAHwAjACcAKwAvADMAOwA/AEcATQBRAFUAWQAAJSM1MycjFTMBIxUzAyMVMyEjFTMnIxUzATM1IwUVMzUXIREhAxUzNRchESEBFTM1FyERIQM1IxUzFTM1AyMVMychFTMVMzUzNzUjNSMVJyMVMxEjFTMBIxUzAoBWVlZUVAFWVlZWVFT+AFRUVFZWASpWVv7AgED/AAEAwIBA/wABAAFAgED/AAEAVqpWqqqsrKz/AFZWVCxWVopAQEBAAgBAQCtW1NQBKqoBAFZWrFYBKlZAgIDAAQD9wICAwAEAAcCAgMABAP1WgFaAVgEqVqxWVlaAVlSqoED+QEACQEAAAwAA/8ADqgPAAA8AHwArAAAlMjc2NTQnJiMiBwYVFBcWEzIXFhUUBwYjIicmNTQ3NhcVMxUjFSM1IzUzNQIAjGVlZWWMjGVlZWWMsH19fX2wsH19fX3arKxUrKxVZWWMjGVlZWWMjGVlAwB9fbCwfX19fbCwfX3UrFSsrFSsAAACAAD/wANWA8AACgAaAAABMhcWHQEhNTQ3NjciJyY1NDc2MzIXFhUUBwYCAGx1df1UdXVsRjIyMjJGRjIyMjIBVS8vTFZWTC8vVjIyRkYzMzMzRkYyMgAABgAA/8ADgAPAAAMABwALABsAKwA7AAABIRUhETUhFQE1IRUlMhcWFRQHBiMiJyY1NDc2EzIXFhUUBwYjIicmNTQ3NhMyFxYVFAcGIyInJjU0NzYBKgJW/aoCVv2qAlb9KhoTExMTGhoTExMTGhoTExMTGhoTExMTGhoTExMTGhoTExMTAtVU/wBUVP8AVFRqExMaGhMTExMaGhMTAgASEhwcEhISEhwcEhL/ABISHBwSEhISHBwSEgAAAAACAAD/wAMqA8AABwATAAABFSE1MzczFwERIREUBwYjISInJgMq/ayULNQs/moCABoaIv6sIhoaAwFWVioq/YACAP4AIhoaGhoAAAAAAgAA/8ADagPAAA8AKAAAATI3NjU0JyYjIgcGFRQXFiEXByc1JwYjIicmNTQ3NjMyFxYVFAcGBxcBllA4ODg4UFA4ODg4AVDUQNQMTGh0UVFRUXR0UFAUFBoMAVU4OFBQODg4OFBQODjUQNQiDEJQUHR0UVFRUXQqNTUgDAAAAAAEAAD/wAPwA8AAAwAHABEAFQAAAQcnNxMnARclNwEHJwcnNxc3JRcHJwL+nDycGj4BFjz8cDwC1DzScu48sjb+Ju487gKBnDyc/q4+ARQ8djz9LDzQcu48sjZ87jzuAAAFAAD/wAOqA8AAAwAHAAsAFwAtAAABIRUhNSEVITUhFSEBFTMVIxUjNSM1MzUZATMRFAcGIyEiJyY1ETQ3NjMhFSERASoBVv6qAVb+qgFW/qoCAICAVICAVBkZIv4AIhoaGhoiASr+1gErVtZW1lYBgIBUgIBUgP0iATT+1iIaGhoaIgIAIhkZVP32AAMAAP/AA9YDwAAXACMAOgAAATQnJicmIyIHBgcGFRQXFhcWMzI3Njc2FxUzFTM1MzUjNSMVARUhNTQnJicmJyYnJiMiBwYHBgcGBwYCKhcXJiYwMCYmFxcXFyYmMDAmJhcXVoBWgIBW/SoCrBgYJycuLi0tIiItLS4uJycYGAJVMCcnFxcXFycnMC4nJxcXFxcnJyZWgIBWgID+qlZWIhsbFRUNDQcHBwcNDRUVGxsAAgAA/8ADqgPAAAUAFQAAJQEnAScHATIXFhUUBwYjIicmNTQ3NgGqAYA8/ryYPAEqsH19fX2wsH19fX3VAYA+/ryYPAGqfX2wsH19fX2wsH19AAAAAwAA/8AD8gPAAAMACQANAAATNxcHARcBJzcXCQEnARI87jwCtD7+APA+sgEO/vI8AQ4BbzzuPAI8PP4A7jyyAYj+8DwBEAAAAQAA/8AC1gPAAAIAAAEhBwEqAazWAgHWAAAAAAEAAP/AA1YDwAAaAAATJjU0NzYzITIXFhUWBwMRFAcGKwEiJyY1EQK2DA0NEgJUEg0NAgz2DAwSVhINDfACuQ4OEg0NDQ0SDA7+xv8AEg0NDQ0SAQABMgADAAD/wAQAA8AABQA3AEMAAAkBJzcXAQEiJyYnJicmNTQ3Njc2NzYzMhcWFzcmJyYjIgcGBwYHBhUUFxYXFhcWMzI3NjcnBgcGJSMVMxUzNTM1IzUjA6r+GrY+eAGq/pJGPj4vLxsbGxsvLz4+RjIuLig+ND4+RFhNTTs7ISEhITs7TU1YODMzLkAgIyMBBICAVoCAVgLN/hq0PHgBqv1MGxsvLz4+RkY+Pi8vGxsODho+JBQUISE7O01NWFhNTTs7ISENDRpAEAgI1laAgFaAAAAAAAIAAP/AA6oDwAAPABgAABMRIRUhIicmNRE0NzYzIRUfAQcnNyE1ISeqAVb+qiIZGRkZIgFW1tTUPG7+TgGybgLV/axWGhoiAlQiGhpWVNbWPm5UcAAAAAABAAD/wAO+A8AAEAAAATIXFhcHJicmIyIHFyERFzYCFpJ0dC5kIllZcHxgnP6AmH4CVVZWiCBoQUFQmgGAmm4AAQAA/8ADgAPAAAUAACUBFwEnNwGAAcQ8/gDuPPkBxDz+AO48AAAAAAMAAP/AA6oDwAAPAB8AJQAAJTI3NjU0JyYjIgcGFRQXFhMyFxYVFAcGIyInJjU0NzYFFwEnNxcCAIxlZWVljIxlZWVljLB9fX19sLB9fX19AXQ8/qrUPJhVZWWMjGVlZWWMjGVlAwB9fbCwfX19fbCwfX3uPP6q1jyYAAABAAAAAAAA2aL/L18PPPUACwQAAAAAAOGdgNwAAAAA4Z2A3AAA/8AEAAPAAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAAaBAAAAAAAAAAAAAAAAgAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAAAAAAAAoAFAAeAD4AdgCaASQBrgHuAhoCeAKeAt4DDgNUA6wD1gP6BAgENASeBMoE6gT+BTwAAAABAAAAGgBgABQAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEABwAAAAEAAAAAAAIABwBgAAEAAAAAAAMABwA2AAEAAAAAAAQABwB1AAEAAAAAAAUACwAVAAEAAAAAAAYABwBLAAEAAAAAAAoAGgCKAAMAAQQJAAEADgAHAAMAAQQJAAIADgBnAAMAAQQJAAMADgA9AAMAAQQJAAQADgB8AAMAAQQJAAUAFgAgAAMAAQQJAAYADgBSAAMAAQQJAAoANACkaWNvbW9vbgBpAGMAbwBtAG8AbwBuVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwaWNvbW9vbgBpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuUmVndWxhcgBSAGUAZwB1AGwAYQByaWNvbW9vbgBpAGMAbwBtAG8AbwBuRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add_circle_outline:before {
    content: "\e908";
}
.icon-create:before {
    content: "\e902";
}
.icon-redo:before {
    content: "\e900";
}
.icon-undo:before {
    content: "\e922";
}
.icon-delete_sweep:before {
    content: "\e901";
}
.icon-format_list_bulleted:before {
    content: "\e90e";
}
.icon-arrow_drop_down:before {
    content: "\e91e";
}
.icon-check:before {
    content: "\e923";
}
.icon-person:before {
    content: "\e90d";
}
.icon-check_circle:before {
    content: "\e91b";
}
.icon-delete:before {
    content: "\e910";
}
.icon-done_all:before {
    content: "\e91c";
}
.icon-search:before {
    content: "\e913";
}
.icon-check_circle_outline:before {
    content: "\e924";
}
.icon-drag_indicator:before {
    content: "\e903";
}
.icon-filter_list_alt:before {
    content: "\e91f";
}
.icon-logout:before {
    content: "\e921";
}
.icon-remove_done:before {
    content: "\e916";
}
.icon-post_add:before {
    content: "\e917";
}
.icon-person_add_alt_1:before {
    content: "\e918";
}
.icon-add_task:before {
    content: "\e920";
}
.icon-qr_code_2:before {
    content: "\e904";
}