
body {
    background: rgb(31, 31, 31);
    align-content: center;
    color: rgb(227, 227, 227);
    font-family: Arial, sans-serif;
    font-size:16pt;
}

/* unvisited link */
a {
    font-family: Arial, sans-serif;
}

a:link, a:visited {
    color: rgb(227, 227, 227);
    text-decoration: none;
}


/* mouse over link */
a:hover,a:active,a:focus  {
    color: rgb(180, 180, 180);
}

button {
    border-radius:2px;
    background: #ccc;
    padding: 8px 24px;
    border: 0 none;
}

button[type="submit"]  {
    background: rgb(0, 123, 255);
    color: rgb(255,255,255);
    font-weight: 700;
}

form button {
    margin-top:40px;
}
label {
    font-size:0.7em;
}

h1, .todos-header-lists-selection {
    font-size:1.8rem;
    margin-top:25px;
}